@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");



.Page-Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  header {
    height: 100px;

    .Logo {
      position: absolute;
      height: 50px;

    animation: slide 20s infinite;
    animation-timing-function: linear

    }
    @keyframes slide {100%,{
      transform: rotate(360deg);
    }

    }


    nav {
      background: #001a33;
      display: flex;
      flex-direction: row-reverse;
      padding: 0 20px 0 10px;
      box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 255);
      position: fixed;
      opacity: 0.8;
      margin-bottom: 80px;
      min-width: 100%;


      button,
      a {
        font-size: 18px;
        line-height: 55px;
        background: transparent;
        font-family: monospace;
        padding: 7px;
        border: none;
        color: #fff;
        margin-right: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 255);

        border-radius: 5px;

        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover, &.active {
          background: #fff;
          color: #001a33;
          border-radius: 5px;

        }
      }
    }
  }

  main {
    flex-grow: 1;
    padding: 50px 20px 40px;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    button{
      border-radius: 50%;

    }
  }



  footer {
    padding: 20px;
    text-align: center;
    background: #001a33;
    line-height: 5px;
    color: #ffffff;
    opacity: 0.7;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 255);

  }
}
